html.dark {
    background-color: var(--el-bg-color);
}

html.dark .el-main, html.dark .el-menu, html.dark .el-menu-demo, html.dark .container{
    background-color: var(--el-bg-color) !important;
}

html.dark .func .el-button, html.dark #collapse-button {
    background-color: var(--el-bg-color) !important;
    border: white 2px solid;
}

html.dark .v-md-textarea-editor textarea {
    background-color: white;
}

html.dark .about {
    color: white;
}

html.dark .about svg {
    fill: white;
}

html.dark .el-menu-demo .el-menu-item {
    --el-menu-hover-bg-color: var(--el-bg-color);
}

html.dark .container .el-form {
    box-shadow: 0 0 10px #cccc;
    background-color: var(--el-bg-color)
}
