@import url('@/styles/dark/css-vars.css');

html.dark {
    background-color: var(--el-bg-color);
}

/* 主屏幕显示区域最黑 */
html.dark .el-main,
html.dark .container{
    background-color: var(--yougi-light-black) !important;
}

/* layout布局区域轻黑 */
html.dark .el-menu,
html.dark .el-menu-demo,
html.dark .el-popover,
html.dark .el-popper__arrow::before {
    background-color: var(--el-bg-color) !important;
}

/* 调整布局区域的按钮的边框 */
html.dark .func .el-button,
html.dark #collapse-button {
    background-color: var(--el-bg-color) !important;
    border: white 2px solid;
}

/* 让左上角logo的hover色与原色保持一致 */
html.dark .el-menu-demo .el-menu-item {
    --el-menu-hover-bg-color: var(--el-bg-color);
}

/* 保持此第三方编辑器的颜色，这无法改变 */
html.dark .v-md-textarea-editor textarea {
    background-color: white;
}


/* 表头颜色 */
html.dark table.el-table__header th {
    background-color: var(--yougi-light-black);
}

/* 表格颜色 */
html.dark table.el-table__body tr {
    background-color: var(--yougi-light-black-2);
    --yougi-link-color: #7986EEFF;
}


/* about页的字体和svg图案颜色设置为白 */
html.dark .about {
    color: white;
}

html.dark .about svg {
    fill: white;
}

html.dark .container .el-form {
    box-shadow: 0 0 10px #cccc;
    background-color: var(--el-bg-color)
}
