:root {
    --yougi-bg-color: #F3F6FDFF;

    --yougi-app-container: #f3f6fd;
    --yougi-main-color: #1f1c2e;
    --yougi-secondary-color: #4A4A4A;
    --yougi-link-color: #1f1c2e;
    --yougi-link-color-hover: #c3cff4;
    --yougi-link-color-active: #fff;
    --yougi-link-color-active-bg: #1f1c2e;
    --yougi-projects-section: #fff;
    --yougi-message-box-hover: #fafcff;
    --yougi-message-box-border: #e9ebf0;
    --yougi-more-list-bg: #fff;
    --yougi-more-list-bg-hover: #f6fbff;
    --yougi-more-list-shadow: rgba(209, 209, 209, 0.4);
    --yougi-button-bg: #1f1c24;
    --yougi-search-area-bg: #fff;
    --yougi-star: #1ff1c2e;
    --yougi-message-btn: #fff;

    --profile-bg-color: #252954;
    --profile-color: black;
    --profile-card-header-bg-color: #D5DEFFFF;
    --profile-card-bg-color: #D5DEFFFF;
    --profle-card-bg: radial-gradient(circle, #d5deff 0%, #c4cff8 100%);
    --profle-destination-card-bg-color: #1a1d3a;
    --profle-destination-card-bg-1: linear-gradient(45deg, #a6b7f3 0%, #90a3ea 100%);
    --profle-destination-card-bg-2: linear-gradient(325deg, #a6b7f3 0%, #90a3ea 100%);
    --profile-point-color: black;
    --profile-credit-type-color: black;
    --profile-active-link-color: black;
    --profile-quote-bg-color: #98aaea;
    --profile-quote-color: #3b3b3b;
}
